//************************* GLOBAL VARIABLES *************************//

$transition: all 0.3s ease-in-out;

//************************* COLORS *************************//
/* 
GLOBAL COLOR VARIABLES 
*/

$primary: #6076E9;
$black: #000000;
$white: #ffffff;

/* 
DYNAMIC COLOR VARIABLES 
To use color variables :
  color: map-get($main-theme, "primary-color");
*/

@use "sass:map";

$main-theme: (
  'primary-color': #1a2c8e,
  'secondary-color': #0e1b33,
  'tertiary-color': #e7edf9,
  'gradient':
    linear-gradient(90deg, rgba(16, 30, 81, 1) 0%, rgba(26, 44, 142, 1) 64%),
  'gradient-trans':
    linear-gradient(
      90deg,
      rgba(16, 30, 81, 0.85) 0%,
      rgba(26, 44, 142, 0.85) 64%
    )
);

$axe-commercial: (
  'primary-color': #5330c5,
  'secondary-color': #22138e,
  'tertiary-color': #edeaf9,
  'gradient':
    linear-gradient(
      90deg,
      rgba(24, 21, 110, 1) 0%,
      rgba(83, 48, 197, 1) 48%,
      rgba(131, 45, 204, 1) 100%
    ),
  'gradient-trans':
    linear-gradient(
      90deg,
      rgba(24, 21, 110, 0.9) 0%,
      rgba(83, 48, 197, 0.9) 48%,
      rgba(131, 45, 204, 0.9) 100%
    )
);

$axe-data: (
  'primary-color': #3370ff,
  'secondary-color': #2ec4b6,
  'tertiary-color': #eaf6ff,
  'gradient':
    linear-gradient(90deg, rgba(51, 112, 255, 1) 0%, rgba(46, 196, 182, 1) 100%),
  'gradient-trans':
    linear-gradient(
      90deg,
      rgba(51, 112, 255, 0.9) 0%,
      rgba(46, 196, 182, 0.9) 100%
    )
);

$axe-risques: (
  'primary-color': #9bc936,
  'secondary-color': #cfd439,
  'tertiary-color': #f5f9eb,
  'gradient':
    linear-gradient(90deg, rgba(155, 201, 54, 1) 0%, rgba(207, 212, 57, 1) 100%),
  'gradient-trans':
    linear-gradient(
      90deg,
      rgba(155, 201, 54, 0.9) 0%,
      rgba(207, 212, 57, 0.9) 100%
    )
);

$axe-immobilier: (
  'primary-color': #ff801f,
  'secondary-color': #ffc200,
  'tertiary-color': #fff6e8,
  'gradient':
    linear-gradient(90deg, rgba(255, 128, 31, 1) 0%, rgba(255, 194, 0, 1) 100%),
  'gradient-trans':
    linear-gradient(
      90deg,
      rgba(255, 128, 31, 0.9) 0%,
      rgba(255, 194, 0, 0.9) 100%
    )
);

$axe-patrimoine: (
  'primary-color': #ff801f,
  'secondary-color': #ffc200,
  'tertiary-color': #fff6e8,
  'gradient':
    linear-gradient(90deg, rgba(255, 128, 31, 1) 0%, rgba(255, 194, 0, 1) 100%),
  'gradient-trans':
    linear-gradient(
      90deg,
      rgba(255, 128, 31, 0.9) 0%,
      rgba(255, 194, 0, 0.9) 100%
    )
);

$axe-ressources-humaines: (
  'primary-color': #2ec4b6,
  'secondary-color': #60cf92,
  'tertiary-color': #e6f5f2,
  'gradient':
    linear-gradient(90deg, rgba(48, 190, 183, 1) 14%, rgba(96, 207, 146, 1) 86%),
  'gradient-trans':
    linear-gradient(
      90deg,
      rgba(48, 190, 183, 0.9) 14%,
      rgba(96, 207, 146, 0.9) 86%
    )
);

$axe-assurances: (
  'primary-color': #bd0064,
  'secondary-color': #fc1168,
  'tertiary-color': #ffe7f0,
  'gradient':
    linear-gradient(90deg, rgba(189, 0, 100, 1) 13%, rgba(252, 17, 104, 1) 75%),
  'gradient-trans':
    linear-gradient(
      90deg,
      rgba(189, 0, 100, 0.9) 15%,
      rgba(252, 17, 104, 0.9) 75%
    )
);

//************************* FONTS *************************//

$rubik: 'Rubik', Arial, sans-serif;
$leagueSpartan: 'league_spartanregular', Arial, sans-serif;

//************************* BREAKPOINTS *************************//

$tablet-up: 768px;
$tablet-down: 767px;
$large-up: 992px;
$large-down: 991px;
$desktop-up: 1200px;
$desktop-down: 1199px;
$big-desktop-up: 1600px;
$big-desktop-down: 1599px;

//************************* MEDIA QUERIES *************************//

@mixin tablet-up {
  @media (min-width: $tablet-up) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: $tablet-down) {
    @content;
  }
}

@mixin large-up {
  @media (min-width: $large-up) {
    @content;
  }
}

@mixin large-down {
  @media (max-width: $large-down) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $desktop-up) {
    @content;
  }
}

@mixin desktop-down {
  @media (max-width: $desktop-down) {
    @content;
  }
}

@mixin big-desktop-up {
  @media (min-width: $big-desktop-up) {
    @content;
  }
}

@mixin big-desktop-down {
  @media (max-width: $big-desktop-down) {
    @content;
  }
}
