//************************* GLOBAL VARIABLES *************************//

$transition: all 0.3s ease-in-out;

//************************* COLORS *************************//
/* 
GLOBAL COLOR VARIABLES 
*/

$primary: #6076E9;
// $secondary: #6076E9;
$black: #000000;
$white: #ffffff;

//************************* FONTS *************************//

$rubik: 'Rubik', Arial, sans-serif;
$leagueSpartan: 'league_spartanregular', Arial, sans-serif;

//************************* BREAKPOINTS *************************//

$tablet-up: 768px;
$tablet-down: 767px;
$large-up: 992px;
$large-down: 991px;
$desktop-up: 1200px;
$desktop-down: 1199px;
$big-desktop-up: 1600px;
$big-desktop-down: 1599px;

//************************* MEDIA QUERIES *************************//

@mixin tablet-up {
  @media (min-width: $tablet-up) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: $tablet-down) {
    @content;
  }
}

@mixin large-up {
  @media (min-width: $large-up) {
    @content;
  }
}

@mixin large-down {
  @media (max-width: $large-down) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $desktop-up) {
    @content;
  }
}

@mixin desktop-down {
  @media (max-width: $desktop-down) {
    @content;
  }
}

@mixin big-desktop-up {
  @media (min-width: $big-desktop-up) {
    @content;
  }
}

@mixin big-desktop-down {
  @media (max-width: $big-desktop-down) {
    @content;
  }
}
