.artist-template {

  .artist {
    &__content {
      h1 {
        margin-bottom: 32px;
      }

      h2 {
        margin-bottom: 24px;
      }

      p {
        margin-bottom: 16px;
      }
    }
  }
}
