@import './utils/__index.scss';

@import './global/__index.scss';

@import './partials/__index.scss';

@import './components/__index.scss';

@import './pages/__index.scss';

@import './singles/__index.scss';

.content-wrapper {
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

  @include desktop-up {
    padding: 0;
  }
}

.main {
  padding-top: 32px;
}